.App {
  background: black;
  color: white;
  font-family: monospace;
}

.App a:hover {
  text-decoration: none;
}

.main {
  padding: 20px;
}

ul {
  list-style: none;
}

.navigation {
  background: white;
  overflow: hidden;
}

.navigation a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
}

.navigation a:hover {
  background: black;
  color: white;
}
